<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    xmlns:dist="http://schemas.android.com/apk/distribution">

    <dist:module dist:instant="true" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TaxaDeMetabolismoBasal"
        tools:targetApi="31">
        <activity
            android:name="com.empresa.FitEquantions.Mifflin"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.empresa.FitEquantions.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.empresa.FitEquantions.JacksonPollock"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.empresa.FitEquantions.HarrisBenedict"
            android:exported="false"
            android:screenOrientation="portrait"/> <!-- não permite que a tela fique na horizontal -->
        <activity
            android:name="com.empresa.FitEquantions.BemVindo"
            android:exported="true"
            android:screenOrientation="portrait">



            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>